@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";





body {
  line-height: 1;
  background: whitesmoke;
  
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  
}

.container {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 150px 400px 300px;
  font-size: 24px;
  border: 1px solid red;
  align-items: stretch;
  justify-content: space-evenly;
}

.header-of-page {
  background-color: lightblue;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  grid-column: 1/5;
  grid-row: 1;
  justify-content: space-between;
  padding: 20px;
    .page-title {
      color: black;
      align-items: left;
      padding: 5px 10px 5px 10px;

    }
    .search-bar-results {
      align-items: right;
    }
}
.page-image {
  background-color: lightgray;
  grid-column: 1/5;
  grid-row: 2;
  padding: 10px;
    .image-holder {
      position: sticky;
      padding: 10px 10px 10px 10px;
      background: lightslategray;
    }
}

.grocery-display-items {
  display: inline-grid;

}
.grocery-card-1{
  background-color: lightblue;
  grid-row: 1;
  grid-column: 1 / 5;
}
.grocery-card-2{
  background-color: lightblue;
  grid-row: 1;
  grid-column: 2 / 4;
}

.grocery-card-3{
  background-color: lightblue;
  grid-column: 3 / 4;
  grid-row: 1;
}